<div class="container m-4">
    <h1>Libros</h1>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Libro</th>
                    <th scope="col">Autor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let libro of libros$ | async">
                    <th>Id {{ libro.id }}</th>
                    <td>{{ libro.titulo }} </td>
                    <td>
                        <span *ngFor="let autor of libro.autores" [class.selected]="autor === autor">
                        {{autor.nombre + ', '}}
                      </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <form #f="ngForm" (ngSubmit)="addLibro()">
            <div class="form-group">
                <label>Título</label>
                <input type="text" class="form-control" placeholder="Introduzca el título" formControlName="titulo " [class.is-invalid]="nombreNoValido" />
            </div>
            <div class="form-group ">
                <label>Autor</label>
                <input type="text" class="form-control " placeholder="Introduzca el Id del autor" />
            </div>
            <button type="submit " class="btn btn-primary ">Añadir</button>
        </form>
    </div>
</div>
