<div class="container m-4">
  <h1>Libros</h1>
  <div class="container row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">id</th>
          <th scope="col">Libro</th>
          <th scope="col">Autor</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let libro of libros$ | async">
          <th>Id {{ libro.id }}</th>
          <td>{{ libro.titulo }} </td>
          <td>
            <span *ngFor="let autor of libro.autores" [class.selected]="autor === autor">
              {{autor.nombre + ', '}}
            </span>
          </td>
          <td>
            <button class="btn btn-info mr-3" (click)="edit(libro.id)">
              <i class="far fa-edit"></i>
            </button>
            <button class="btn btn-danger" (click)="delete(libro.id)">
              <i class="far fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-12">
      <button *ngIf="!showAdd" class="btn btn-primary" (click)="showAddFunction()">
        <i class="fas fa-plus"></i>
      </button>
      <button *ngIf="showAdd" class="btn btn-danger" (click)="showAddFunction()">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>

  <div class="row" *ngIf="showAdd">
    <div class="col-md-4">
    <app-add-libro (ocultarForm)="updateList()" ></app-add-libro>
  </div>
</div>
</div>
