<div class="container">
    <div class="container mt-4">
        <h1>Autores</h1>
    </div>
    <br>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Autor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let autor of autores$ | async">
                    <th>{{ autor.id }}</th>
                    <td>{{ autor.nombre }} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre del autor</label>
                <input class="form-control" id="titulo">
            </div>
            <button type="submit" class="btn btn-primary" (click)="addAutor()">Añadir</button>
        </form>
    </div>
</div>
